
Database/Database.vcxproj
Database/Database.vcxproj.filters
Database/Database.vcxproj.user
*.pdb
*.idb
*.ilk
*.exe
*.tlog
*.sln
*.log
*.obj
Database/Tables/Mama.txt
Introducing To Programming Materials/Consultation 3/Tasks/Task2/Thumbs.db
